:root{
    --title-text-color:#212121;
    --white-color:#FFFFFF; 
    --hover-color:#2196F3;
    --outlink-color:#757575;
    --black-color:#000000;
    --footer-color:#2F303A;
    --card-color:#F5F4FA;
    --footer-adres:#FFFFFF99;
    --button-back-color:#188CE8;
}
body{
    background-color:var(--white-color);
    color:var(--outlink-color);   
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.list{
    list-style: none;
}
.logo {
    font-family: Raleway;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: left;
        text-decoration: none;
    color: var(--hover-color)
}
.logo2{
    font-family: Raleway;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--black-color)
}
/* Site nav */
.site-nav .link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    color:var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--hover-color)
}
.site-nav .link.current{
    color: var(--hover-color)
}
.outsite-nav .secondary-link{
    color: var(--outlink-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-align: left;
        text-decoration: none;
}
.outsite-nav .secondary-link:hover,
.outsite-nav .secondary-link:focus{
    color:var(--hover-color)
}
/* Hero */
.hero{
    background-color:var(--footer-color);
}
.hero-title{
    color:var(--white-color);
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
}
.buttons{
    background-color: var(--hover-color);
    color: var(--white-color);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9;
        letter-spacing: 0.06em;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         border-radius: 4px;
         cursor: pointer;
}
.buttons:hover,
.buttons:focus{
    background-color:var(--button-back-color)
}
/* Section */

.feature-list .title{
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    color:var(--title-text-color);
}
/* Work */
.work-title{
    color:var(--title-text-color);
    font-size: 36px;
        line-height: 1.17;
        text-align: center;
}
/* Team */
.team{
    background-color:var(--card-color);
}
.team-title{
    color: var(--title-text-color);
    font-size: 36px;
        line-height: 1.17;
        text-align: center;
}
.team-list .title{
    color: var(--title-text-color);
    font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
}
.team-list .card{
    background-color:var(--white-color);
}
.team-list .item{
        font-size: 16px;
        line-height: 1.19;
}
/* Footer */
.downpage{
    background-color:var(--footer-color);
}
.downpage .logo{
        font-family: Raleway;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color:var(--hover-color);
        text-decoration:none;
    }
.downpage .logo2{
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--white-color);
    text-decoration: none;
}
.adres-nav{
    color: var(--white-color);
    font-style: normal;
} 
.adres-nav .secondary-link{
    color:var(--footer-adres);
    text-decoration: none;
    
}
.adres-nav .secondary-link:hover,
.adres-nav .secondary-link:focus {
    color: var(--hover-color);}
    /* Portfolio */
    /* Portfolio nav */
.portfolio-nav .filter{
    background-color:var(--card-color);
    color:var(--title-text-color);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height:1.6;
        letter-spacing: 0.03em;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
}
.portfolio-nav .filter:hover,
.portfolio-nav .filter:focus{
    background-color: var(--hover-color);
    color: var(--white-color);
    
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.portfolio-list{
    text-decoration: none;
}
.portfolio-card .card-link{
    text-decoration: none; 
}
.card-name{
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
        color: var(--title-text-color);
}
.card-item{
        font-size: 16px;
        line-height: 1.87;
        text-align: left;
        color: var(--outlink-color)
}